.layout-container {
    display: flex;
    flex-direction: column;

    .toolbar1 {
        position: fixed;
        top: 0;
        z-index: 2;
        .search-btn {
            margin-left: auto;
        }
    }
 
    .main-toolbar {
        @extend .toolbar1;
        &.hidden{
          opacity: 0;
        }
    }

    .search-bar {
        width: 0%;
        right: 0;
        @extend .toolbar1;
        background: #fff;
        &.active{
          width: 100%;
        }
    }

    .title {
        margin-left: 8px;
        outline: none;
    }

    .sidenav-container {
        flex: 1;
        .sidenav {
            width: 25vw;
            &.full-width {
                width: 100vw
            }
        }
    }

    .side-nav-content {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        .user-detail {
            margin-top: 10px;
        }
    }    

}
